name: Build and Push Docker Images to GHCR

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USERNAME }}
          password: ${{ secrets.GHCR_TOKEN }}

      # --------------------------
      # Product.API
      # --------------------------
      - name: Build & Push Product.API
        run: |
          docker build -t ghcr.io/${{ secrets.GHCR_USERNAME }}/product-api:latest ./Product.API
          docker push ghcr.io/${{ secrets.GHCR_USERNAME }}/product-api:latest

      # --------------------------
      # Order.API
      # --------------------------
      - name: Build & Push Order.API
        run: |
          docker build -t ghcr.io/${{ secrets.GHCR_USERNAME }}/order-api:latest ./Order.API
          docker push ghcr.io/${{ secrets.GHCR_USERNAME }}/order-api:latest

      # --------------------------
      # Customer.API
      # --------------------------
      - name: Build & Push Customer.API
        run: |
          docker build -t ghcr.io/${{ secrets.GHCR_USERNAME }}/customer-api:latest ./Customer.API
          docker push ghcr.io/${{ secrets.GHCR_USERNAME }}/customer-api:latest

      # --------------------------
      # API Gateway
      # --------------------------
      - name: Build & Push ApiGateway
        run: |
          docker build -t ghcr.io/${{ secrets.GHCR_USERNAME }}/api-gateway:latest ./ApiGateway
          docker push ghcr.io/${{ secrets.GHCR_USERNAME }}/api-gateway:latest
